@keyframes topbar_in{
  from {background-color: #ffb5af;}
  to {background-color: #fff2d5;};
}

@keyframes anim_slide_in {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

html {
  height: 100%;
  width: 100%;
  background-color: #fff2d5;
}

.topbar{
  padding: 15px;
  border-radius: 10px;
  background-color: #ffb5af; 
  margin: none;
}

.topbar>a{
  text-decoration: underline;
  font-size: large;
  padding: 5px;
  padding-left: 3px;
  padding-right: 3px;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
}

.topbar>a:hover{
  animation-name: topbar_in;
  animation-duration: 0.35s;
  animation-fill-mode: forwards; /* Fixes animation reset */
}


.content{
  margin: auto;
  text-align:center;
  min-width: min-content;
  max-width: max-content;
  padding: 40px;
  border-radius: 20px;
  background-color: #dedede;
}

.title{
  margin: auto;
  margin-top: 20%;
  width: max-content;
  padding-left: 30px;
  padding-right: 30px;
  border: 3px #333 solid;
  text-align: center;
  font-family: 'Pacifico', cursive;
  animation: anim_slide_in 2s ease 0s 1 normal forwards;
}

.con_title{
  text-align: center;
  font-family: 'Pacifico', cursive;
  animation: anim_slide_in 2s ease 0s 1 normal forwards;
}