@keyframes topbar_in{
  from {background-color: #ffb5af;}
  to {background-color: #fff2d5;};
}

html {
  height: 100%;
  width: 100%;
  background-color: #fff2d5;
}

.topbar{
  padding: 15px;
  border-radius: 10px;
  background-color: #ffb5af; 
  margin: none;
}

.topbar>a{
  text-decoration: underline;
  font-size: large;
  padding: 5px;
  padding-left: 3px;
  padding-right: 3px;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
}

.topbar>a:hover{
  animation-name: topbar_in;
  animation-duration: 0.35s;
  animation-fill-mode: forwards; /* Fixes animation reset */
}



.content{
  margin: auto;
  text-align:center;
  min-width: min-content;
  max-width: max-content;
  padding: 40px;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}

.price_content{
  margin: auto;
  text-align:center;
  min-width: min-content;
  max-width: max-content;
  font-family: 'Roboto', sans-serif;
}

.title{
  text-align: center;
  font-family: 'Pacifico', cursive;
}

.item{
  width: 70%;
  height: 60%;
  padding: 20px;
  border: 0.5px black solid; 
  border-radius: 15px;
  margin: 10px;
  background-color: #caf0fe;
}

.item>button{
  border: none;
}

.item>input{
}

.item:hover{
  background-color: #94e3fe
}

.tp{
  border-radius: 3px;
  margin-top: 3%;
  padding: 10px;
}

.totalprice{
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 30%;
  height: 20%;
  text-align: center;
}
